<aside class="main-sidebar" style="border-right: 1px solid #d1d8dd;position: fixed;">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" id="menu123">
            <li class="header">WELCOME ADMIN </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user-o"></i>
                    <span>Student</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#List/Student">
                            <i class="fa fa-angle-right"></i>Student</a>
                    </li>
                    <li>
                        <a href="#List/Guardian">
                            <i class="fa fa-angle-right"></i>Guardian</a>
                    </li>
                    <li>
                        <a href="#List/Student Log">
                            <i class="fa fa-angle-right"></i>Student Log</a>
                    </li>
                    <li>
                        <a href="#List/Student Group">
                            <i class="fa fa-angle-right"></i>Student Group</a>
                    </li>
                    <li>
                        <a href="#Form/Student Group Creation Tool">
                            <i class="fa fa-angle-right"></i>Student Group Creation Tool</a>
                    </li>
                    <li>
                        <a href="#query-report/Student and Guardian Contact Details">
                            <i class="fa fa-angle-right"></i> Contact Details</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-id-card-o"></i>
                    <span>Admission</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#List/Student Applicant">
                            <i class="fa fa-angle-right"></i>Student Applicant</a>
                    </li>
                    <li>
                        <a href="#List/Student Admission">
                            <i class="fa fa-angle-right"></i>Student Admission</a>
                    </li>
                    <li>
                        <a href="#List/Program Enrollment">
                            <i class="fa fa-angle-right"></i>Program Enrollment</a>
                    </li>
                    <li>
                        <a href="#Form/Program Enrollment Tool">
                            <i class="fa fa-angle-right"></i>Program Enrollment Tool</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-user-times"></i>
                    <span>Attendance</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#List/Student Attendance">
                            <i class="fa fa-angle-right"></i> Attendance</a>
                    </li>
                    <li>
                        <a href="#List/Student Leave Application">
                            <i class="fa fa-angle-right"></i> Leave Application</a>
                    </li>
                    <li>
                        <a href="#Form/Student Attendance Tool">
                            <i class="fa fa-angle-right"></i> Attendance Tool</a>
                    </li>
                    <li>
                        <a href="#query-report/Absent Student Report">
                            <i class="fa fa-angle-right"></i>Absent Report</a>
                    </li>
                    <li>
                        <a href="#query-report/Student Batch-Wise Attendance">
                            <i class="fa fa-angle-right"></i> Batch-Wise Attendance</a>
                    </li>
                    <li>
                        <a href="#query-report/Student Monthly Attendance Sheet">
                            <i class="fa fa-angle-right"></i> Monthly Attendance Sheet</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calendar"></i>
                    <span>Schedule</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#List/Course Schedule">
                            <i class="fa fa-angle-right"></i>Course Schedule</a>
                    </li>
                    <li>
                        <a href="#Form/Course Scheduling Tool">
                            <i class="fa fa-angle-right"></i>Course Scheduling Tool</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i>
                    <span>Assessment</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#List/Assessment Plan">
                            <i class="fa fa-angle-right"></i> Plan</a>
                    </li>
                    <li>
                        <a href="#List/Assessment Group">
                            <i class="fa fa-angle-right"></i> Group</a>
                    </li>
                    <li>
                        <a href="#List/Assessment Result">
                            <i class="fa fa-angle-right"></i> Result</a>
                    </li>
                    <li>
                        <a href="#List/Assessment Criteria">
                            <i class="fa fa-angle-right"></i> Criteria</a>
                    </li>
                    <li>
                        <a href="#List/Assessment Criteria Group/List">
                            <i class="fa fa-angle-right"></i> Criteria Group</a>
                    </li>
                    <li>
                        <a href="#Form/Assessment Result Tool">
                            <i class="fa fa-angle-right"></i> Result Tool</a>
                    </li>
                    <li>
                        <a href="#List/Course wise Assessment Report">
                            <i class="fa fa-angle-right"></i>Course wise  Report</a>
                    </li>
                    <li>
                        <a href="#query-report/Course wise Assessment Report">
                            <i class="fa fa-angle-right"></i>Assessment Plan Status</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-inr"></i>
                    <span>Fees</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#List/Fees">
                            <i class="fa fa-angle-right"></i>Fees</a>
                    </li>
                    <li>
                        <a href="#List/Fee Schedule">
                            <i class="fa fa-angle-right"></i>Fee Schedule</a>
                    </li>
                    <li>
                        <a href="#List/Fee Structure">
                            <i class="fa fa-angle-right"></i>Fee Structure</a>
                    </li>
                    <li>
                        <a href="#List/Fee Category">
                            <i class="fa fa-angle-right"></i>Fee Category</a>
                    </li>
                    <li>
                        <a href="#query-report/Student Fee Collection">
                            <i class="fa fa-angle-right"></i> Fee Collection</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#modules/CRM">
                    <i class="fa fa-male"></i>
                    <span>CRM</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
             
            </li>
            <li class="treeview">
                <a href="#modules/LMS">
                    <i class="fa fa-bookmark"></i>
                    <span>LMS</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
             
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-sliders"></i>
                    <span>Setup</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a href="#List/Course">
                            <i class="fa fa-angle-right"></i>Course</a>
                    </li>
                    <li>
                        <a href="#List/Program">
                            <i class="fa fa-angle-right"></i>Program</a>
                    </li>
                    <li>
                        <a href="#List/Instructor">
                            <i class="fa fa-angle-right"></i>Instructor</a>
                    </li>
                    <li>
                        <a href="#List/Room">
                            <i class="fa fa-angle-right"></i>Room</a>
                    </li>
                    <li>
                        <a href="#List/Student Category">
                            <i class="fa fa-angle-right"></i>Student Category</a>
                    </li>
                    <li>
                        <a href="#List/Student Batch Name">
                            <i class="fa fa-angle-right"></i>Student Batch Name</a>
                    </li>
                    <li>
                        <a href="#List/Grading Scale">
                            <i class="fa fa-angle-right"></i>Grading Scale</a>
                    </li>
                    <li>
                        <a href="#List/Academic Term">
                            <i class="fa fa-angle-right"></i>Academic Term</a>
                    </li>
                    <li>
                        <a href="#List/Academic Year">
                            <i class="fa fa-angle-right"></i>Academic Year</a>
                    </li>
                    <li>
                        <a href="#Form/Education Settings">
                            <i class="fa fa-angle-right"></i>Education Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="overlay">
    <div>